In [12]:
import pandas as pd

df = pd.read_csv("mortgage_dataset.csv")

In [13]:
df.head()

,Application_Number,Disbursement_Manner,Submission_Mth,MG_OMV,MG_SnP,highest_MG_SnP_OMV,Free_Lease_Hold_Ind,Status_Of_Completion,Stage_Of_Completion,Title_Type,...,Land_Area,Land_Area_Unit,Property_Address,Postcode,Property_State,City_Nm,Property_Description,Property_Type,Residential_Type,Landed_Type
0,20114,PR,2018-03,364700.0,364700.0,364700.0,L,UC,0.0,M,...,0.0,NaN,"Block C (Cosmo),The Zizz @ Damansara North, Da...",47830,SELANGOR,Petaling Jaya,APARTMENT UNIT(S),Apartment,1. Residential,Non-Landed
1,80800,LS,2018-03,1452000.0,1102000.0,1452000.0,F,CO,100.0,I,...,220.0,F,"JALAN ADDA 6/16,TAMAN ADDA HEIGHTS",81100,JOHOR,Johor Bahru,"DOUBLE, SEMI-D HSE",Semi-Detached,1. Residential,Landed
2,38786,PR,2018-01,698000.0,698000.0,698000.0,L,UC,0.0,M,...,0.0,NaN,"Type B2,Parc 3 @ KL South",55300,W.P KUALA LUMPUR,Kuala Lumpur,APARTMENT UNIT(S),Apartment,1. Residential,Non-Landed
3,155116,LS,2019-12,190000.0,190000.0,190000.0,F,CO,100.0,S,...,0.0,NaN,"SOLOK SEMARAK API,BANDAR BARU AYER ITAM",11500,Pulau Pinang,AYER ITAM,Flat,Flat,1. Residential,Non-Landed
4,50826,PR,2017-07,600400.0,600400.0,600400.0,L,UC,50.0,M,...,0.0,NaN,"level no.6 of tower no.2 ,Vermont Suites Condo...",93350,SARAWAK,Kuching,CONDOMINIUM UNIT(S),Condominium,1. Residential,Non-Landed

In [14]:
df.columns

Index(['Application_Number', 'Disbursement_Manner', 'Submission_Mth', 'MG_OMV',
       'MG_SnP', 'highest_MG_SnP_OMV', 'Free_Lease_Hold_Ind',
       'Status_Of_Completion', 'Stage_Of_Completion', 'Title_Type',
       'Build_Up_Area', 'Build_Up_Area_Unit', 'Land_Area', 'Land_Area_Unit',
       'Property_Address', 'Postcode', 'Property_State', 'City_Nm',
       'Property_Description', 'Property_Type', 'Residential_Type',
       'Landed_Type'],
      dtype='object')

In [15]:
df.drop(columns=["Application_Number","Land_Area_Unit","Property_Address","Property_Description","Build_Up_Area_Unit"], inplace=True)

In [16]:
df

,Disbursement_Manner,Submission_Mth,MG_OMV,MG_SnP,highest_MG_SnP_OMV,Free_Lease_Hold_Ind,Status_Of_Completion,Stage_Of_Completion,Title_Type,Build_Up_Area,Land_Area,Postcode,Property_State,City_Nm,Property_Type,Residential_Type,Landed_Type
0,PR,2018-03,364700.0,364700.0,364700.0,L,UC,0.0,M,674.0,0.00,47830,SELANGOR,Petaling Jaya,Apartment,1. Residential,Non-Landed
1,LS,2018-03,1452000.0,1102000.0,1452000.0,F,CO,100.0,I,0.0,220.00,81100,JOHOR,Johor Bahru,Semi-Detached,1. Residential,Landed
2,PR,2018-01,698000.0,698000.0,698000.0,L,UC,0.0,M,865.0,0.00,55300,W.P KUALA LUMPUR,Kuala Lumpur,Apartment,1. Residential,Non-Landed
3,LS,2019-12,190000.0,190000.0,190000.0,F,CO,100.0,S,538.0,0.00,11500,Pulau Pinang,AYER ITAM,Flat,1. Residential,Non-Landed
4,PR,2017-07,600400.0,600400.0,600400.0,L,UC,50.0,M,1496.0,0.00,93350,SARAWAK,Kuching,Condominium,1. Residential,Non-Landed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16394,LS,2018-10,267000.0,NaN,267000.0,F,CO,100.0,I,855.0,225.94,48000,SELANGOR,RAWANG,Terrace House,1. Residential,Landed
16395,PR,2017-09,444888.0,444888.0,444888.0,F,UC,5.0,M,1011.0,0.00,43000,SELANGOR,Kajang,Condominium,1. Residential,Non-Landed
16396,PR,2018-01,0.0,740000.0,740000.0,L,UC,10.0,M,1841.0,413.47,42300,Selangor,Bandar Puncak Alam,Terrace House,1. Residential,Landed
16397,PR,2018-03,0.0,221800.0,221800.0,L,UC,30.0,I,0.0,69.93,31000,Perak,Batu Gajah,Semi-Detached,1. Residential,Landed
16398,PR,2018-02,366800.0,366800.0,366800.0,L,UC,10.0,M,870.0,0.00,40460,SELANGOR,KOTA KEMUNING,Apartment,1. Residential,Non-Landed

In [17]:
def getUnique(thisDF):
    
    for columns in df.columns:
        print(thisDF[columns].unique())

getUnique(df)

['PR   ' 'LS   ']
['2018-03' '2018-01' '2019-12' '2017-07' '2017-09' '2019-04' '2018-06'
 '2017-02' '2017-04' '2019-09' '2018-07' '2018-09' '2019-02' '2019-11'
 '2019-06' '2017-10' '2017-06' '2018-12' '2018-05' '2019-01' '2017-05'
 '2018-11' '2019-03' '2017-01' '2018-04' '2018-02' '2019-05' '2017-12'
 '2017-08' '2019-10' '2018-08' '2019-07' '2018-10' '2017-11' '2019-08'
 '2017-03']
[ 364700. 1452000.  698000. ...  627100.  444888.  366800.]
[ 364700.  1102000.   698000.  ... 1286199.2  444888.   221800. ]
[ 364700. 1452000.  698000. ... 1278000.  444888.  221800.]
['L' 'F' ' ']
['UC' 'CO']
[  0.   100.    50.    70.    10.    30.    20.     5.    80.    40.
  90.    35.    75.    60.    65.    25.    82.5   62.5   55.    15.
  85.    72.5     nan  45.     0.1    1.    95.     0.5    3.    67.5
  77.5   72.    33.    57.    17.5   99.99  19.    88.    22.5    2.
  21.  ]
['M' 'I' 'S' nan]
[ 674.    0.  865. ... 2324. 2805. 2140.]
[  0.   220.   138.89 ... 170.15 225.94  69.93]
[47830 81100 55300 11500 93350 11920 57100 50400 50000 81200 14300 40170
 68100 47150  9000 14000 98000 13700 25150 70300 42000 43600  8000 81150
 43300 43200 81550 79100 30100 31200 59100 81300 85000 53100 13200 83700
 11600 42300 31350 31150 68000 71700 76100 48000 47100 27500 83000 43000
 50480 80100 57000  8300 47310 58200  6200 10470 79200  6250 52200 14110
 53300  5400 31450 56000 41400 75200     0 40460 75450 47180 42500 31100
 59000 51200 43900 81930 59200 25300 81750 42700 43500 11900 13400 41200
 12300 75050 40470 31650 80150 39010 41000 56100 46150 28400 47170 31600
 58100 31900 31500 34200 25250 47120 91000 43650 52100 42450 58000 47301
 94300  9100 79250 86000 13000 47500 80300  6400 52000 55000 31000 80350
 75300 81900 14100 90000 73200 11100 81000 47000 84000 76450 35900  6000
 80200 46000 79150 81110 41050 96000 40150 71950 72200  9600 14200 55100
 40160 53000 42100 31400 48300 43100 81700 11060 46200 84900 75250 81800
 40000 51000 72000 42200 10050 30020 97000 70400 14120 79000 47110 14020
 62200 47610 13020 47140 47820 77200 43700 44300 84800 71000 42600 43800
 70100 26100 71010 34600 75350 25200 93250 25100 32000 63000 93050 84600
 47810 80050 53200 88300 91100 70200 32200 40100 13050 71450 75400 43950
 40200 50250 11200 42610 85020 93000 96800 13800 47130 26070  1000 50150
  5150 47400 71800 26060 85010 75260 84200 40400 54200 71550 72120 28600
 47600 36000 88450 46100 94700 50200 47300 34000 10300 84400 51100 12000
 11700 27600 70450 71900 50450 89200 80250 84160 93150 81400 63300 47410
 25000 32040 46400 31550 71780 88400 47650 78000 81850 48200 12100 82000
 83010 47160  2000 72100 77300 50300 47620 86700 71100 75150 11000 84040
 82200  9300 94200 13100 75506 48020 45400 75000 28000 96500 46300 81500
 50490 48009 71200 50460 28700 84410 39100  6010 83300 96100 14400 34300
 89500 42800 35950 52108  8100 87000  6700 10350 30300 10400 16810 30250
 71960  2600  9400 55200 80400 31250 12200 47800 13600 32600 13500 26600
 45600 87007 89357 30200 11950 50470 75460  5250 88200 10250 84300 62502
  2700 70000 10460 88857 47640 36020 41250 30010 39000 80000 89600 58990
 45010 81600 54100 77000 45500  5050 93200 84150 71750 10150 89507 31260
 62000 32610 28750 24000 31750 35400 27000 54000 20200 88000 85009 93300
 83600 77500 35500 93450 48050 88100 10450 93100 62050 20300 78300 95700
 82300 95400 45300 14310 47630 20400 91117 95000 85300 40300 84710 30000
 71400  8800 15150 11960 73300 31910 71050 86200  5460 60000 76300 26300
 76400 81560 50603 41300 62250 42920 72500 25050 34900  6600 42209     1
 85200 10100  9310 48100 81320 34700 41100 62150 35800 21300 32400 78100
 45000  2400  6650 50350 98700 36200  9700 11010  9200 50100  7000 71009
  4100 85100 69000 47190 31300  5300 80700 10200  9800 36700 35000 21100
 36400 71350 28300 43400  5200 30450 83100 45800 73000 47200 81440 15300
  5100 86400 44000 33030 81030 83500 90009 11470 72300 26800 94950  9010
 23100 11050 75100 71150 34350  5350 81330 98107 30350 62300 81907 44200
 25990 47380 26080  5450 41150 18000 50088 54300 20000  6800 52800 51300
  2200 96400 11400 46780 95900  8330 89000 84500 46210 85030 17500 40456
 83610]
['SELANGOR' 'JOHOR' 'W.P KUALA LUMPUR' 'Pulau Pinang' 'SARAWAK'
 'W.P Kuala Lumpur' 'Johor' 'Selangor' 'Kedah' 'PULAU PINANG' 'Pahang'
 'NEGERI SEMBILAN' 'Perak' 'PERAK' 'Sarawak' 'Negeri Sembilan' 'MELAKA'
 'PAHANG' 'KEDAH' 'Melaka' 'KELANTAN' 'Sabah' 'SABAH' 'W.P LABUAN'
 'PERLIS' 'Perlis' 'W.P. Putrajaya' 'TERENGGANU' 'Terengganu' 'Kelantan']
['Petaling Jaya' 'Johor Bahru' 'Kuala Lumpur' 'AYER ITAM' 'Kuching'
 'BAYAN LEPAS' 'JOHOR BAHRU' 'MASAI' 'NIBONG TEBAL' 'SHAH ALAM'
 'BATU CAVES' 'KUALA LUMPUR' 'PUCHONG' 'KULIM' 'BUKIT MERTAJAM'
 'Ayer Itam' 'Miri' 'Perai' 'Kuantan' 'SEREMBAN' 'Shah Alam'
 'PELABUHAN KLANG' 'Selayang' 'BANDAR BARU BANGI' 'Sungai Petani'
 'SERI KEMBANGAN' 'CHERAS' 'GELANG PATAH' 'Iskandar Puteri' 'Ipoh'
 'Chemor' 'SEGAMAT' 'Skudai' 'Ampang' 'KEPALA BATAS' 'Yong Peng'
 'JELUTONG' 'Kuala Selangor' 'KUCHING' 'Ulu Kinta' 'AMPANG' 'Pajam'
 'Durian Tunggal' 'Rawang' 'Bandar Puncak Alam' 'RAUB' 'BATU PAHAT'
 'Kajang' 'GURUN' 'PETALING JAYA' 'Kepala Batas' 'Tanjung Tokong'
 'Seremban' 'Gelang Patah' 'ALOR SETAR' 'Simpang Ampat' 'PERAI'
 'Seri Kembangan' 'KLANG' 'BANDAR PUNCAK ALAM' 'MELAKA' 'SKUDAI' 'MANTIN'
 'AYER KEROH' 'Puchong' 'TELOK PANGLIMA GARANG' 'SUNGAI SIPUT (U)'
 'DURIAN TUNGGAL' 'Kuala lumpur' 'SEPANG' 'Bandar Penawar' 'KUANTAN'
 'BANTING' 'SEMENYIH' 'Butterworth' 'KLANG ' 'BUTTERWORTH' 'Melaka'
 'Cameron Highlands' 'Semenyih' 'RAWANG' 'Bayan Lepas' 'Klang' 'Banting'
 'NUSAJAYA' 'KAJANG' 'Mentakab' 'Bukit Mertajam' 'Kota Bahru' 'KAMPAR'
 'BALAKONG' 'Parit Buntar' 'Masai' 'Bukit Jalil' 'Georgetown' 'TAWAU'
 'Seberang Jaya' 'Ara Damansara' 'KOTA SAMARAHAN' 'Baling' 'Nusajaya'
 'Kluang' 'Jelutong' 'SUBANG JAYA' 'POKOK SENA' 'Kepong' 'Batu Gajah'
 'Dengkil' 'Kota Tinggi' 'SIMPANG AMPAT' 'SANDAKAN' 'Gemencheh'
 'PULAU PINANG' 'Batu Ferringhi' 'KULAI' 'Sungai Buloh' 'MUAR'
 'TANJONG MALIM' 'JITRA' 'ISKANDAR PUTERI' 'KOTA KEMUNING' 'SIBU'
 'BATU KIKIR' 'Lunas' 'Cheras' 'SUNGAI BAKAP' 'KLUANG' 'Bandar Baru Bangi'
 'Setia Alam' 'Kulai' 'IPOH' 'Hulu Langat' 'PASIR GUDANG' 'CHEMOR'
 'SUNGAI PETANI' 'Sibu' 'Batu Pahat' 'SUNGAI BULOH' 'Salak Tinggi'
 'TANGKAK' 'ULU TIRAM' 'Kuala Pilah' 'KAPAR' 'Pulau Pinang' 'BINTULU'
 'KANGKAR PULAI' 'Pelabuhan Klang' 'PUTRAJAYA' 'Subang Jaya' 'BANGI'
 'JASIN' 'BERANANG' 'Labuan' 'BATANG KALI' 'Bukit Gambir' 'Batu Caves'
 'HULU LANGAT' 'Paya Terubong' 'Port Dickson' 'Jenjarom' 'DENGKIL'
 'PORT DICKSON' 'KAMUNTING' 'Sungai Bakap' 'Sitiawan' 'CYBERJAYA'
 'Sungai Jawi' 'Pagoh' 'Plentong' 'KOTA KINABALU' 'Lahad Datu' 'LUMUT'
 'Seremban 2' 'Telok Panglima Garang' 'Bagan Lallang' 'SUNGAI PELEK'
 'Kuala Lumpur ' 'Melaka Tengah' 'Bemban' 'Ulu Tiram' 'TANJONG BUNGAH'
 'Subang' 'Batang Kali' 'KAPIT' 'Kangar' 'Desa ParkCity' 'TANJUNG TOKONG'
 'Alor Setar' 'SERI MANJONG' 'Damansara' 'KOTA TINGGI' 'Nilai' 'Segamat'
 'Seberang Perai Utara' 'NILAI' 'Muar' 'TANJONG IPOH' 'BANDAR SERI JEMPOL'
 'GEMENCHEH' 'Nibong Tebal' 'Karak' 'Teluk Intan' 'Kulim' 'Serian' 'KARAK'
 'TAIPING' 'Simpang Empat' 'SELAYANG' 'Kota Kinabalu' 'SUNGAI MATI'
 'MENGLEMBU' 'Gurun' 'SUNGAI SIPUT' 'GELUGOR' 'MELAKA TENGAH' 'Raub'
 'Labu' 'TUARAN' 'BUKIT KATIL' 'SENAI' 'Sepang' 'Desa Petaling'
 'Seri Manjong' 'PUSING' 'Setapak' 'Bangi' 'Nusajaya ' 'ALOR GAJAH'
 'LAYANG-LAYANG' 'BEMBAN' 'SERENDAH' 'Senai' 'Pontian' 'Sentul'
 'KUALA PERLIS' 'PAYA TERUBONG' 'BAHAU' 'MERLIMAU' 'PLENTONG' 'KAHANG'
 'RANTAU' 'BALIK PULAU' 'MIRI' 'Beranang' 'Kuala Ketil' 'SIBURAN' 'PENAGA'
 'Bandar Saujana Putra' 'Tawau' 'SEKINCHAN' 'KRUBONG' 'Temerloh'
 'Cyberjaya' 'BINTANGOR' 'PEKAN NENAS' 'YONG PENG' 'Damansara Damai'
 'Rantau' 'GEORGETOWN' 'Bentong' 'HULU KELANG' 'Tangkak' nan 'Brinchang'
 'Changloon' 'Ledang' 'Sarikei' 'KUBANG SEMANG' 'BAGAN SERAI'
 'Pekan Nenas' 'Kulaijaya' 'MENTAKAB' 'Kamunting' 'BAGAN LALLANG'
 'BANDAR PENAWAR' 'PONTIAN' 'TANJONG SEPAT' 'ULU CHOH' 'BEHRANG STESEN'
 'Sri Sendayan' 'Batu Kawan' 'Bedong' 'LABUAN' 'PENDANG'
 'TANJUNG RAMBUTAN' 'Krubong' 'PASIR PUTIH' 'LUNAS' 'CHUAH' 'BEDONG'
 'ARAU' 'Padang Serai' 'TANJONG RAMBUTAN' 'Tanjong Bungah' 'Gelugor'
 'Seri Iskandar' 'PERMATANG PAUH' 'Pekan' 'Sungai Ara' 'Bestari Jaya'
 'GOPENG' 'Sungai Long' 'Kota Samarahan' 'Jitra' 'PADANG SERAI' 'Prai'
 'Bahau' 'Putrajaya' 'TANJUNG TOKONG ' 'Sandakan' 'INANAM' 'Bukit Dumbar'
 'Alma' 'Kota Kemuning' 'LAHAT' 'TANAH RATA' 'Seri Manjung' 'Sri Gading'
 'PAPAR' 'Greenlane' 'Pasir Gudang' 'KEPONG' 'PENGERANG' 'Pusing' 'Mantin'
 'TEBRAU' 'Sungai Pelek' 'Tanjong Karang' 'Kuchai Lama' 'BATU FERRINGHI'
 'BATU GAJAH' 'PARIT JAWA' 'Bayan Baru' 'BOTA' 'Kubang Semang'
 'TANJONG TOKONG' 'LENGGENG' 'Segambut' 'PENAMPANG' 'Lahat' 'Serendah'
 'Putra Heights' 'TEMERLOH' 'BENTONG' 'Kemaman' 'Balik Pulau' 'Tronoh'
 'Ulu Choh' 'Alor Gajah' 'Tapah' 'Jerantut' 'ALAI' 'JERANTUT' 'Bintangor'
 'PENANG' 'KUALA TERENGGANU' 'Ayer Keroh' 'Bandar Putra Permai' 'Tebrau'
 'SEMERAH' 'HULU BERNAM' 'Selandar' 'BIDOR' 'JENJAROM' 'SITIAWAN'
 'Permatang Pauh' 'TELUK INTAN' 'Puchong Prima' 'Bidor' 'BRINCHANG'
 'Kota Laksamana' 'Kuala Terengganu' 'Damansara Heights' 'Masjid Tanah'
 'Bintulu' 'Betong' 'Kukup' 'SARATOK' 'SUNGAI BESAR' 'Bangsar'
 'SUNGAI ACHEH' 'PARIT BUNTAR' 'Sri Petaling' 'Sri Aman' 'LABIS' 'KESANG'
 'Pendang' 'BANDAR SERI ISKANDAR' 'Taiping' 'Kundang Ulu' 'CUKAI' 'Rembau'
 'Gunung Rapat' 'KOTA BHARU' 'BATU MAUNG' 'Iskandar Puteri ' 'Jasin'
 'Kota Damansara' 'Simpang Rengam' 'Arau' 'SUNGAI JAWI' 'PEKAN'
 'MASJID TANAH' 'Kampar' 'Lima Kedai' 'SI RUSA' 'Kempas' 'SUNGAI UDANG'
 'GAMBANG' 'ULU KINTA' 'Bandar Tanjung Pinang' 'TRONOH' 'TANJONG KLING'
 'Si Rusa' 'PULAU INDAH' 'Seberang Perai Tengah' 'Pantai Remis'
 'SERI MANJUNG' 'PAGOH' 'KANGAR' 'Teluk Kumbar' 'Simpang' 'BATU BERENDAM'
 'Gombak' 'SLIM RIVER' 'Bayan Mutiara' 'AYER TAWAR' 'LUBOK CHINA'
 'KUALA SELANGOR' 'Pulai' 'Batu Maung' 'Bukit Minyak' 'Pokok Sena'
 'LIMBANG' 'Sungai Dua' 'SELEKOH' 'KARANGAN' 'CHANGLOON' 'Padang Serau'
 'KUALA KEDAH' 'LABU' 'Mont Kiara' 'LAHAD DATU' 'LANGKAWI'
 'GENTING HIGHLANDS' 'Kampung Kepayang' 'Batu Anam' 'BETONG' 'SERDANG'
 'Bandar Sri Damansara' 'Shah Alam ' 'Langkap' 'Kapit' 'KEMAMAN' 'TAPAH'
 'Langkawi' 'Sungai Besi' 'HUTAN MELINTANG' 'SERIAN' 'KOTA' 'BAGAN AJAM'
 'TRIANG' 'ULU KELANG' 'Senawang' 'RENGIT' 'JERAM' 'Tampin' 'Ayer Tawar'
 'Merbau Pulas' 'Kota Bharu' 'SARIKEI' 'PARIT RAJA' 'KAMPUNG KEPAYANG'
 'Limbang' 'Kuala Kubu Baru' 'SERI GADING' 'Labis' 'Juru' 'SUNGAI ARA'
 'KUALA KANGSAR' 'Kulai Jaya' 'Bandar Sri Sendayan' 'Gopeng'
 'PARIT SULONG' 'BUKIT GAMBIR' 'GALANG PATAH' 'Slim River'
 'Simpang Pertang' 'Siburan' 'KUALA ROMPIN' 'Lumut' 'Parit Raja'
 'Tanjung Minyak' 'KUANG' 'Simpang Lima' 'Tanjong Sepat' 'PUSA' 'Paka'
 'Titiwangsa' 'PAKA' 'TANJONG KARANG' 'JEMENTAH' 'Triang' 'LINGGI'
 'Bagan Ajam' 'Jementah' 'Sungai Besar' 'Kuala Kurau' 'SEREMBAN '
 'RANTAU PANJANG' 'LEDANG' 'HANG TUAH JAYA' 'Tanjung Malim'
 'BANDAR SERI SENDAYAN' 'Tanjong Malim' 'Lutong' 'Sikamat' 'kulim' 'Rasa'
 'Penampang' 'Genting Highlands' 'PORT KLANG' 'SEBERANG PERAI TENGAH'
 'Tanjong Tokong' 'Kuala Krai' 'SUNWAY' 'Batu 9 Cheras' 'KULAIJAYA'
 'Bandar Baru Salak Tinggi' 'Batu Berendam' 'BANDAR CASSIA'
 'KOTA SARANG SEMUT' 'CAMERON HIGHLANDS' 'KAKI BUKIT' 'MUKAH'
 'BUKIT BERUANG' 'Seberang Perai Selatan' 'Tuaran' 'Kelana Jaya'
 'Bagan Serai' 'Wangsa Maju' 'Relau' 'Lubok Antu' 'KENINGAU' 'Balakong'
 'KUALA PILAH' 'Pengerang' 'Bera' 'Kuala Kedah' 'Seri Gading'
 'KUALA SELANGOR ' 'PANTAI REMIS' 'Tasek' 'Tanah Merah' 'BUKIT PASIR']
['Apartment' 'Semi-Detached' 'Flat' 'Condominium' 'Terrace House' 'Condo'
 'Shophouse/Shop office/Shop lot/Retail lot' 'Bungalow' 'Shop/Office'
 'Townhouse' 'Town House' 'Commercial/Shopping Complex' 'Penthouse']
['1. Residential' '2. Non Residential']
['Non-Landed' 'Landed']

In [18]:
#replace empty string with NaN, and then drop NaN rows
df["Free_Lease_Hold_Ind"].loc[df["Free_Lease_Hold_Ind"]==" "] = float("NaN")
df.dropna(inplace=True)

C:\Users\Poe\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

8        Condo
16       Condo
36       Condo
50       Condo
63       Condo
         ...
16263    Condo
16287    Condo
16367    Condo
16370    Condo
16376    Condo
Name: Property_Type, Length: 1057, dtype: object

In [19]:
#reformatting strings
df["Property_State"] = df["Property_State"].str.lower()
df["City_Nm"] = df["City_Nm"].str.lower()
df["Disbursement_Manner"] = df["Disbursement_Manner"].str.strip()

#property name type cleaning
replacePropertyDict = {
    "Condo": "Condominium",
    "Shophouse/Shop office/Shop lot/Retail lot": "Shop lot",
    "Shop/Office": "Office lot",
    'Town House' : "Townhouse"
}
df = df.copy()
def replaceApartmentNames(replaceDict):
    for key,value in replaceDict.items():
        df["Property_Type"].loc[df["Property_Type"]==key] = value

replaceApartmentNames(replacePropertyDict)
df = df.copy()
df["Residential_Type"] = df["Residential_Type"].str.slice(start=3)
df

C:\Users\Poe\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,Disbursement_Manner,Submission_Mth,MG_OMV,MG_SnP,highest_MG_SnP_OMV,Free_Lease_Hold_Ind,Status_Of_Completion,Stage_Of_Completion,Title_Type,Build_Up_Area,Land_Area,Postcode,Property_State,City_Nm,Property_Type,Residential_Type,Landed_Type
0,PR,2018-03,364700.0,364700.0,364700.0,L,UC,0.0,M,674.00,0.00,47830,selangor,petaling jaya,Apartment,Residential,Non-Landed
1,LS,2018-03,1452000.0,1102000.0,1452000.0,F,CO,100.0,I,0.00,220.00,81100,johor,johor bahru,Semi-Detached,Residential,Landed
2,PR,2018-01,698000.0,698000.0,698000.0,L,UC,0.0,M,865.00,0.00,55300,w.p kuala lumpur,kuala lumpur,Apartment,Residential,Non-Landed
3,LS,2019-12,190000.0,190000.0,190000.0,F,CO,100.0,S,538.00,0.00,11500,pulau pinang,ayer itam,Flat,Residential,Non-Landed
4,PR,2017-07,600400.0,600400.0,600400.0,L,UC,50.0,M,1496.00,0.00,93350,sarawak,kuching,Condominium,Residential,Non-Landed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16393,PR,2017-03,0.0,799650.0,799650.0,F,UC,0.0,M,882.64,0.00,50400,w.p kuala lumpur,kuala lumpur,Apartment,Residential,Non-Landed
16395,PR,2017-09,444888.0,444888.0,444888.0,F,UC,5.0,M,1011.00,0.00,43000,selangor,kajang,Condominium,Residential,Non-Landed
16396,PR,2018-01,0.0,740000.0,740000.0,L,UC,10.0,M,1841.00,413.47,42300,selangor,bandar puncak alam,Terrace House,Residential,Landed
16397,PR,2018-03,0.0,221800.0,221800.0,L,UC,30.0,I,0.00,69.93,31000,perak,batu gajah,Semi-Detached,Residential,Landed
16398,PR,2018-02,366800.0,366800.0,366800.0,L,UC,10.0,M,870.00,0.00,40460,selangor,kota kemuning,Apartment,Residential,Non-Landed

In [20]:
def getCategorical(df,cols):
    df= df.copy()
    for thiscol in cols:
        df[thiscol] = pd.Categorical(df[thiscol])
        print(df[thiscol].cat.categories)
        df[thiscol] = df[thiscol].cat.codes
    return df

categoryCols = ["Disbursement_Manner","Free_Lease_Hold_Ind", "Status_Of_Completion", "Title_Type", "Property_State", "Property_Type", "Residential_Type", "Landed_Type","City_Nm"]

df_cat = getCategorical(df,categoryCols)

Index(['LS', 'PR'], dtype='object')
Index(['F', 'L'], dtype='object')
Index(['CO', 'UC'], dtype='object')
Index(['I', 'M', 'S'], dtype='object')
Index(['johor', 'kedah', 'kelantan', 'melaka', 'negeri sembilan', 'pahang',
       'perak', 'perlis', 'pulau pinang', 'sabah', 'sarawak', 'selangor',
       'terengganu', 'w.p kuala lumpur', 'w.p labuan', 'w.p. putrajaya'],
      dtype='object')
Index(['Apartment', 'Bungalow', 'Commercial/Shopping Complex', 'Condominium',
       'Flat', 'Office lot', 'Penthouse', 'Semi-Detached', 'Shop lot',
       'Terrace House', 'Townhouse'],
      dtype='object')
Index(['Non Residential', 'Residential'], dtype='object')
Index(['Landed', 'Non-Landed'], dtype='object')
Index(['alma', 'alor gajah', 'alor setar', 'ampang', 'ara damansara', 'arau',
       'ayer itam', 'ayer keroh', 'ayer tawar', 'bagan ajam',
       ...
       'titiwangsa', 'triang', 'tronoh', 'tuaran', 'ulu choh', 'ulu kelang',
       'ulu kinta', 'ulu tiram', 'wangsa maju', 'yong peng'],
      dtype='object', length=353)

In [21]:
#df["Disbursement_Manner"] = df["Disbursement_Manner"].cat.codes
df_cat

,Disbursement_Manner,Submission_Mth,MG_OMV,MG_SnP,highest_MG_SnP_OMV,Free_Lease_Hold_Ind,Status_Of_Completion,Stage_Of_Completion,Title_Type,Build_Up_Area,Land_Area,Postcode,Property_State,City_Nm,Property_Type,Residential_Type,Landed_Type
0,1,2018-03,364700.0,364700.0,364700.0,1,1,0.0,1,674.00,0.00,47830,11,225,0,1,1
1,0,2018-03,1452000.0,1102000.0,1452000.0,0,0,100.0,0,0.00,220.00,81100,0,109,7,1,0
2,1,2018-01,698000.0,698000.0,698000.0,1,1,0.0,1,865.00,0.00,55300,13,149,0,1,1
3,0,2019-12,190000.0,190000.0,190000.0,0,0,100.0,2,538.00,0.00,11500,8,6,4,1,1
4,1,2017-07,600400.0,600400.0,600400.0,1,1,50.0,1,1496.00,0.00,93350,10,160,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16393,1,2017-03,0.0,799650.0,799650.0,0,1,0.0,1,882.64,0.00,50400,13,149,0,1,1
16395,1,2017-09,444888.0,444888.0,444888.0,0,1,5.0,1,1011.00,0.00,43000,11,112,3,1,1
16396,1,2018-01,0.0,740000.0,740000.0,1,1,10.0,1,1841.00,413.47,42300,11,20,9,1,0
16397,1,2018-03,0.0,221800.0,221800.0,1,1,30.0,0,0.00,69.93,31000,6,38,7,1,0
16398,1,2018-02,366800.0,366800.0,366800.0,1,1,10.0,1,870.00,0.00,40460,11,136,0,1,1

In [22]:
df.to_csv("cleaned_data.csv",index=False),
df_cat.to_csv("cleaned_data_encoded.csv",index=False)